.body-container {
  border: 1px solid black;
  height: auto;
  width: auto;
  margin: 5px;
}

.inv-container {
  margin: 15px;
}

.new-button {
}

.to-do-container {
  border: 1px solid black;
}

.pagination-container {
  border: 1px solid black;
}

.metrics-container {
  border: 1px solid black;
}